{% extends "index.twig" %}

{% block content %}
  <p>
    <strong>Dear {{ new_user.name }},</strong>
  </p>
  <br />

  <p>
    Your requested account on Martinize Database has been created.

    <br />

    You now have right to submit new molecules and versions on <strong><a href="{{ site_url }}/users">Martinize Database website</a></strong>.
  </p>
  <br />

  <p>
    Thank you for your participation.
  </p>
  <br />

  <em>This e-mail has been automatically sent by MADb. Please do not reply to this e-mail address.</em>
{% endblock %}
