{% extends "index.twig" %}

{% block content %}
  <p>
    <strong>Dear {{ user.name }},</strong>
  </p>
  <br />

  <p>
    You requested to change your exisiting password with "Restore your password" page.

    <br />

    In order to modify it, follow <strong><a href="{{ site_url }}/change_password?token={{ token }}">this link</a></strong>.
  </p>
  <br />

  <p>
    If you never asked for a password change, ignore this e-mail.
  </p>
  <br />

  <em>This e-mail has been automatically sent by MADb. Please do not reply to this e-mail address.</em>
{% endblock %}
