{% extends "index.twig" %}

{% block content %}
  <p>
    <strong>Dear {{ user.name }},</strong>
  </p>
  <br />

  <p>
    Your password has been changed.

    <br />

    If you've not initiated this request, please contact a website administrator quickly.
    You can use <strong><a href="{{ site_url }}/contact">this form</a></strong>.
  </p>
  <br />

  <p>
    Thank you for contributing to MArtinize Database.
  </p>
  <br />

  <em>This e-mail has been automatically sent by MADb. Please do not reply to this e-mail address.</em>
{% endblock %}
