{% extends "index.twig" %}

{% block content %}
  <p>
    <strong>Dear {{ new_user.name }},</strong>
  </p>

  <p>
    We received your request to have an user in MAD. However, we do not have information about your affiliation. Please, make a new request using your academic/professional email address and also informing your affiliation to us. Thanks for the interest in our work.
  </p>

  <p>
    Best regards, 
  </p>
  
  <p>
  MAD team
  </p>

  <em>This e-mail has been automatically sent by MADb. Please do not reply to this e-mail address.</em>
{% endblock %}
